@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: #f7f8f7;
  --background: #080a11;
  --primary: #64a451;
  --secondary: #64a451;
  --accent: #64a451;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

::-moz-selection {
  background-color: var(--accent);
}

::selection {
  background-color: var(--accent);
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--background);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--accent);
  border-radius: 999999px;
}

.active {
  @apply text-accent;
}

.navLink {
  position: relative;
  padding-block: 4px;
}
.navLink:focus-visible {
  outline: none;
}

.navLink::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 0px;
  background-color: var(--accent);
  left: 0;
  transition: all 200ms ease-in-out;
}

.navLink:hover::after,
.navLink:focus-visible:after {
  width: 100%;
}

.black_ops {
  font-family: "Black Ops One", cursive;
}

.icon-color {
  fill: #f7f8f7;
}

/* -----------------Swiper------------------ */

.swiper {
  --swiper-navigation-sides-offset: 0px;
  --swiper-theme-color: var(--accent);
  --swiper-navigation-size: 60px;
}
.swiper-button-next,
.swiper-button-prev {
  visibility: hidden;
  height: 100%;
  background-color: #080a11;
  opacity: 70%;
  height: 100%;
  top: 7%;
}

.swiper:hover .swiper-button-next,
.swiper:hover .swiper-button-prev {
  visibility: visible;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 30px;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0.35;
  cursor: not-allowed;
  pointer-events: all;
}

/* ------------------------Video Player------------------------------ */

.gradient_black {
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.timeline-container {
  height: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-inline: 5px;
  background-color: rgba(230, 230, 230, 0.6);
  border-radius: 10px;
}

.timeline {
  background-color: rgba(100, 100, 100, 0.5);
  height: 5px;
  width: 100%;
  position: relative;
  transition: transform 150ms ease-in-out;
}
.timeline:hover .preview {
  display: initial;
}
.timeline:hover {
  height: 10px;
}
.timeline:hover .thumb-indicator {
  --scale: 1;
}

.preview {
  /* Preview */
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  border-radius: 30px;
  background-color: rgb(240, 238, 238, 0.9);
  display: none;
}

.progress {
  /* Progress */
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: var(--accent);
}

.timeline .thumb-indicator {
  --scale: 0;
  position: absolute;
  transform: translateX(-50%) scale(var(--scale));
  height: 200%;
  top: -50%;
  background-color: var(--accent);
  border-radius: 50%;
  transition: transform 150ms ease-in-out;
  aspect-ratio: 1 / 1;
}

.controls {
  transition: all 1s ease-in;
}

.video_container:hover .controls {
  display: flex !important;
}
/* .video_container:hover .play_button{
  background-color: #64a451;
} */

.volumeSlider {
  visibility: hidden;
  width: 0;
  transition: all 0.3 ease-in-out;
  background-color: var(--accent);
}

.volumeContainer:hover .volumeSlider {
  visibility: visible;
  width: max-content;
}

video::cue {
  opacity: 1;
  background-color: black;
  font-size: 20px !important;
  transform: translateY(30%) !important;
}

video::-webkit-media-text-track-display-backdrop {
  background-color: black !important;
  overflow: visible !important;
}

input[type="range"] {
  accent-color: var(--accent);
}

/* Admin */
.react-tagsinput--focused {
  border-color: var(--tw-ring-color);
}

.react-tagsinput-input {
  color: white;
}
.react-tagsinput-tag {
  background-color: #4f46e5;
  border: none;
  color: white !important;
  border-radius: 4px;
}
.react-tagsinput {
  cursor: text;
  border-radius: 6px;
}
